
    <div id='zhan' style='height:400px' class='col-md-6'></div>
    <div id='zhan1' style='height:400px' class='col-md-6'></div>

    <script>
        function randomData() {
            return Math.floor(Math.random() * 100) / 100;
        }

        var chart2 = echarts.init(document.getElementById('zhan'));
        var chart3 = echarts.init(document.getElementById('zhan1'));
        var a = Math.floor(Math.random() * 60)
            b = 60 - a

        option2 = {
            title : {
                text: '{{name|safe}} 白屏耗时分布',
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x : 'center',
                y : 'bottom',
                data:['0-1秒','1-2秒','2-3秒','3-4秒','4-5秒','5秒以上']
            },
            calculable : true,
            series : [
                {
                    name:'面积模式',
                    type:'pie',
                    radius : [20, 110],
                    roseType : 'radius',
                    data:[
                        {value:5, name:'0-1秒'},
                        {value:15, name:'1-2秒'},
                        {value:a, name:'2-3秒'},
                        {value:b, name:'3-4秒'},
                        {value:7, name:'4-5秒'},
                        {value:13, name:'5秒以上'},
                    ]
                }
            ]
        };

        option3 = {
            title : {
                text: '{{name|safe}} 首屏耗时分布',
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x : 'center',
                y : 'bottom',
                data:['0-1秒','1-2秒','2-3秒','3-4秒','4-5秒','5秒以上']
            },
            calculable : true,
            series : [
                {
                    name:'面积模式',
                    type:'pie',
                    radius : [20, 110],
                    roseType : 'radius',
                    data:[
                        {value:5, name:'0-1秒'},
                        {value:5, name:'1-2秒'},
                        {value:a, name:'2-3秒'},
                        {value:13, name:'3-4秒'},
                        {value:17, name:'4-5秒'},
                        {value:b, name:'5秒以上'},
                    ]
                }
            ]
        };

        chart2.setOption(option2, true);
        chart3.setOption(option3, true);
    </script>
