
      <div class="col-md-12">
          <br><table id='sectable' class='table table-bordered table-hover'>
              <thead>
                  <tr>
                      <th>白屏时间(ms)</th>
                      <th>首屏时间(ms)</th>
                      <th>页面名称</th>
                      <th>ActivityName</th>
                      <th>版本</th>
                  </tr>
              </thead>
              <tbody>
                  {% for x in datas %}
                  <tr>
                      <td>{% if x.wt > 4000 %}<span class='label label-danger'>
                      {% elif x.wt < 2000 %}<span class='label label-success'>
                      {% else %}<span class='label label-warning'>{%endif%}{{ x.wt }}</td>
                      <td>{% if x.ft > 4000 %}<span class='label label-danger'>
                      {% elif x.ft < 2000 %}<span class='label label-success'>
                      {% else %}<span class='label label-warning'>{%endif%}{{ x.ft }}</td>
                      <td>{{ x.name }}</td>
                      <td>{{ x.activity }}</td>
                      <td>{{ x.version }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <div id='chart' class="col-md-12">
      </div>

    <script>
        $('#sectable').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "order": [[ 0, 'desc' ]],
          "info": true,
          "autoWidth": true
        });
    </script>
    <script>
        $('tr').click(function(){
            var name = $(this).children().eq(2).text()
            console.log(name)
            $.get('/speed/appAjax2',{'name':name},function(ret){
                $('#chart').html(ret)
            })
        })
    </script>
