{% extends "index.html" %}
{% block content %}
        <!-- <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">运营商分布</h3>
                </div>
                <div class="box-body">
                    <table id="ftable2" class="ftable table table-bordered table-striped">
                        <thead>
                            <tr>
                            <th>运营商</th>
                            <th>网络制式</th>
                            <th>错误码</th>
                            <th>错误数量</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for x in yysd %}
                            <tr>
                                <td><a href="/speed/errList?&type1={{ x.yys }}&type2={{ x.wlzs }}">{{ x.yys }}</a></td>
                                <td>{{ x.wlzs }}</td>
                                <td>{{ x.code }}</td>
                                <td>{{ x.num }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-8"> -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">接口分布</h3>
                </div>
                <div class="box-body">
                    <table id="ftable" class="ftable table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>错误数量</th>
                                <th>错误码</th>
                                <th>品类</th>
                                <th>接口名称</th>
                                <th>接口</th>
                                <th>版本</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for x in intd %}
                            <tr>
                                <td>{{ x.num }}</td>
                                <td>{{ x.code }}</td>
                                <td>{{ x.type }}</td>
                                <td>{{ x.des }}</td>
                                <td><a href="/speed/errList?&id={{ x.int }}">{{ x.int }}</a></td>
                                <td>{{ x.ver }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- </div> -->

{% endblock content %}
