{% extends "index.html" %}
{% block content %}
    <div class="callout callout-success" style="margin-bottom: 0!important;">
        <h4>功能说明:</h4>

        <li>数据统计</li>
        <ul>
            <li>有效时间段内的接口数据</li>
            <li>划分网速区间</li>
            <li>统计满足不同区间的接口数量</li>
            <li>计算占总量的比例</li>
            <li></li>
        </ul>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">选择时间</h3>
        </div>
        <div class="box-body">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">选择起始时间</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reservationtime">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">时间范围</label>

                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>
                            <i class="fa fa-calendar"></i> 时间范围
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
                <button class='btn btn-success'>查询</button>
            </form>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">用户网速分布</h3><small class='text-primary'> 我们的用户使用不同网络的占比</small>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa    fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
                <div class="chart">
                    <div id="main" style="height:400px;"></div>
                </div>
        </div>
    </div>


<script>
    function randomData() {
        return Math.round(Math.random()*2000);
    }

    var chart = echarts.init(document.getElementById('main'));

    option = {
        title : {
            subtext: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{b}<br/>占比：{d}%<br/>数量：{c}"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['GPRS 50Kb/s','2G 250kb/s','Good2G 450kb/s','3G 750kb/s','Good3G 1500kb/s','4G 4096kb/s','Wifi >4096kb/s']
        },
        calculable : true,
        series : [
            {
                name:'面积模式',
                type:'pie',
                radius : [80, 130],
                label: {
                    normal: {
                        show: true,
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true,
                    }
                },
                data:[
                    {value:2, name:'GPRS 50Kb/s'},
                    {value:5, name:'2G 250kb/s'},
                    {value:7, name:'Good2G 450kb/s'},
                    {value:10, name:'3G 750kb/s'},
                    {value:20, name:'Good3G 1500kb/s'},
                    {value:16, name:'4G 4096kb/s'},
                    {value:50, name:'Wifi >4096kb/s'},
                ]
            }
        ]
    };

    chart.setOption(option, true);

</script>


{% endblock content %}
